.button,
.bottom-navigation {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.button {
    color: var(--color-main);
    border-radius: 2px;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 24px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.button:hover {
    background-color: rgba(158, 158, 158, 0.2);
}
.button:focus:not(:active) {
    background-color: rgba(0, 0, 0, 0.12);
}

.button:active {
    background-color: rgba(158, 158, 158, 0.4);
}

.button .flat-button:focus:not(:active) {
    background-color: rgba(0, 0, 0, 0.12);
}

.bottom-navigation {
    overflow: hidden;
    background-color: #ea4335;
    transition: 375ms;
    position: fixed;
    height: 56px;
    width: 100%;
    bottom: 0;
    right: 0;
    font-size: 24px;
    box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.12),
        0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
}

.bottom-navigation .bottom-navigation-destination {
    padding: 16px 0 16px 0;
    float: left;
    text-align: center;
    flex-grow: 1;
    font-size: 12px;
    transition: 225ms cubic-bezier(0.4, 0.2, 0, 1);
    color: rgba(256, 256, 256, 0.87);
    cursor: pointer;
}

.bottom-navigation .bottom-navigation-destination.active {
    padding: 6px 12px 10px 12px;
}

.bottom-navigation-label {
    opacity: 0;
    transition: 225ms cubic-bezier(0.4, 0.2, 0, 1);
}

.bottom-navigation-destination.active .bottom-navigation-label {
    font-size: 14px;
    opacity: 1;
}

.bottom-navigation .bottom-navigation-destination .material-icons {
    font-size: 24px;
    z-index: 4;
    margin-bottom: 4px;
    display: block;
}
